<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }}</title>
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#243746" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "author": {
          "@type": "Person",
          "name": "{{ author }}",
          "url": "{{ profile }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Equinor",
          "logo": {
            "@type": "ImageObject",
            "url": "https://eds-static.equinor.com/logo/equinor-logo-horizontal.svg#red"
          }
        },
        "datePublished": "2020-12-17",
        "dateCreated": "2020-12-17",
        "dateModified": "2020-12-17",
        "description": "{{ description }}",
        "keywords": "{{ tags | join: ", " }}"
      }
    </script>
    <link
      rel="stylesheet"
      href="https://eds-static.equinor.com/font/equinor-font.css"
    />
    <style>
      {% postcss %}
      {% include css/critical-path.css %}
      {% endpostcss %}
    </style>
  </head>
  <body>
    <article>
      {{ content | safe }}
    </article>
  </body>
</html>
