<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }}</title>
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#243746" />
    <meta
      name="google-site-verification"
      content="V98C1dH_Z-lSoqZtvFOfENvz3JffHRWSW0Bhj-P4NXE"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://opensource.equinor.com"
        },
        "headline": "{{ title }}",
        "author": {
          "@type": "Person",
          "name": "{{ author }}",
          "url": "{{ profile }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Equinor",
          "logo": {
            "@type": "ImageObject",
            "url": "https://web-opensource-dev.radix.equinor.com/assets/images/equinor-logo-primary.png"
          }
        },
        "datePublished": "2020-12-17",
        "dateCreated": "2020-12-17",
        "dateModified": "2020-12-17",
        "description": "{{ description }}",
        "keywords": "{{ tags | join: ", " }}"
      }
    </script>
    <style>
      {% capture cssfile %}css/{{css}}.css{% endcapture %}
      {% postcss %}
      {% include cssfile %}
      {% endpostcss %}
    </style>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/service-worker.js')
          .then(function () {
            console.log('ServiceWorker has been registered!')
          })
          .catch(console.error)
      }
    </script>
  </head>
  <body>
    <header>
      <a href="#content" class="skip-link">Skip to content</a>
      <nav>
        <ul>
          <li><a href="#" class="current">Open Source @ Equinor</a></li>
          <li><a href="#">Some other link</a></li>
          <li><a href="#">Some third link</a></li>
        </ul>
      </nav>
      <a class="github-link" href="https://github.com/equinor">
        <svg viewbox="0 0 33 32">
          <title>Go to repository on Github</title>
          <path
            d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z"
          />
        </svg>
      </a>
    </header>
    <div id="content">
      <article>
        {{ content | safe }}
      </article>
      <footer>
        <p>
          <a href="mailto:{{ email }}">{{ email }}</a>
        </p>
      </footer>
    </div>
  </body>
</html>
