<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }}</title>
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#243746" />
    <meta
      name="google-site-verification"
      content="V98C1dH_Z-lSoqZtvFOfENvz3JffHRWSW0Bhj-P4NXE"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://opensource.equinor.com"
        },
        "headline": "{{ title }}",
        "author": {
          "@type": "Person",
          "name": "{{ author }}",
          "url": "{{ profile }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Equinor",
          "logo": {
            "@type": "ImageObject",
            "url": "https://web-opensource-dev.radix.equinor.com/assets/images/equinor-logo-primary.png"
          }
        },
        "datePublished": "2020-12-17",
        "dateCreated": "2020-12-17",
        "dateModified": "2020-12-17",
        "description": "{{ description }}",
        "keywords": "{{ tags | join: ", " }}"
      }
    </script>
    <style>
      {% capture cssfile %}css/{{css}}.css{% endcapture %}
      {% postcss %}
      {% include cssfile %}
      {% endpostcss %}
    </style>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/service-worker.js')
          .then(function () {
            console.log('ServiceWorker has been registered!')
          })
          .catch(console.error)
      }
    </script>
  </head>
  <body>
    <article>
      {{ content | safe }}
    </article>
    <p class="signature">
      <a href="mailto:{{ email }}">{{ email }}</a>
    </p>
  </body>
</html>
